@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@mixin positionAbsloute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

:root {
  font-family: "Noto Sans", sans-serif;
}

main,
body,
html {
  @include positionAbsloute();
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: column;

  .base-body {
    flex: 1;
    position: relative;

    .router {
      @include positionAbsloute();
      overflow-y: auto;

      display: flex;
      flex-direction: column;

      .page {
        display: flex;
        flex-direction: column;
        flex: 1 1;
      }
    }
  }
}
